flask==1.1.2
flask_api
PyYAML
requests
parameterized
python-coveralls
pytest-cov
flask_swagger_ui
requests_toolbelt
py_eureka_client==0.9.1
flask_cors
fluent-logger
Jinja2
psutil
pyinstaller
setuptools==44.0.0
jproperties
click
# pypiwin32 #for windows pyinstalller