flask==1.1.2
flask_api
PyYAML
requests
parameterized
python-coveralls
pytest-cov
flask_swagger_ui
requests_toolbelt
py_eureka_client==0.9.1
flask_cors
fluent-logger
Jinja2
psutil
pyinstaller==4.1
setuptools==51.0.0
jproperties
click
asyncio
#pypiwin32==223